$colors: (
  textBlack: #000,
);

$fonts: (
  o: "'Open Sans', sans-serif",
);

$borderRadius: 5px;

@mixin root() {
  :root {
    @each $name, $color in $colors {
      --color-#{$name}: #{$color};
    }

    @each $name, $font in $fonts {
      --font-family-#{$name}: #{$font};
    }

    --grid-column-gap: #{$grid-gutter-width};
    --grid-row-gap: #{$grid-gutter-width};
    --border-radius: #{$borderRadius};
    --jumbotron-padding-y: 3rem;
  }
}

@mixin transition($property) {
  transition: $property 0.4s cubic-bezier(0.82, -0.32, 0.18, 0.96);
}
